<div class=" hero min-h-scrren">
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h2 class="mb-5 text-5xl font-bold">Perfiles</h2>
      <p class="mb-5">Aqui puedes los perfiles de los integrante del
        grupo y respectivamente podras ir a revisar el portafolio de cada uno.
      </p>
    </div>
  </div>
</div>
<section id="profiles" class="w-full py-20">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-12 place-items-center">
    
    <!-- Perfil 1 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="assets/perfil1.jpg"
        class="w-56 h-56 object-cover rounded-full shadow-lg"
      />
      <p class="text-gray-600 mt-4 text-lg">Hello, I'm</p>
      <h2 class="text-4xl font-bold">Rafael Prieto</h2>
      <p class="text-xl text-gray-500 mb-6">Student</p>

      <div class="flex gap-4">
        <button class="btn btn-outline">Download CV</button>
        <button class="btn btn-neutral" routerLink="/rafael">Contact Info</button>
      </div>

      <div class="flex gap-4 mt-6">
        <a href="#"><i class="fa-brands fa-linkedin text-3xl"></i></a>
        <a href="#"><i class="fa-brands fa-github text-3xl"></i></a>
      </div>
    </div>

    <!-- Perfil 2 -->
    <div class="flex flex-col items-center text-center">
      <img
        src="assets/perfil2.jpg"
        class="w-56 h-56 object-cover rounded-full shadow-lg"
      />
      <p class="text-gray-600 mt-4 text-lg">Hello, I'm</p>
      <h2 class="text-4xl font-bold">Adrian Lazo</h2>
      <p class="text-xl text-gray-500 mb-6">Student</p>

      <div class="flex gap-4">
        <button class="btn btn-outline">Download CV</button>
        <button class="btn btn-neutral" >Contact Info</button>
      </div>

      <div class="flex gap-4 mt-6">
        <a href="#"><i class="fa-brands fa-linkedin text-3xl"></i></a>
        <a href="#"><i class="fa-brands fa-github text-3xl"></i></a>
      </div>
    </div>

  </div>
</section>
