<footer class=" w-full py-10 flex flex-col items-center ">
  <!-- navegación centrada -->
  <nav>
      <ul class="flex gap-10 text-lg font-medium">
        <button class="hover:text-gray-500 transition " (click)="scrollToHome()">About</button>
        <button class="hover:text-gray-500 transition " (click)="scrollToPerfiles()">Experience</button>
        <button class="hover:text-gray-500 transition " (click)="scrollToPerfiles()">Projects</button>
        <button class="hover:text-gray-500 transition " (click)="scrollToPerfiles()">Contact</button>
      </ul>
  </nav>
  <p class="flex items-center justify-around">Copyright © 2025 Rafael Prieto and Adrian Lazo. All Rights Reserved.</p>
</footer>