<section id="home">

  <div class="hero min-h-screen bg-base-200">
    
    <div class="hero-content text-base-content text-center">
      
      <div class="max-w-md">
        <h1 class="mb-5 text-4xl font-bold text-center">Dev-Solutions</h1>
        
        <p class="mb-5 text-2xl text-center">
          Si otros no te pueden ayudar aqui estamos nosotros para solucionar y mejorar, 
          confia en nosotros y nosotros te demostraremos porque somos la mejor opción.
        </p>
        
        <button 
          class="btn btn-neutral font-bold py-2 px-4 rounded"
          (click)="scrollToPerfiles()">
          Browse
        </button>
        
      </div>
    </div>
  </div>

</section>