<section id="home">

  <div class="hero min-h-screen">
    <!-- <div class="hero-overlay"></div> -->
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Portfolio Web Administrativo</h1>
        <p class="mb-5">
          Bienvenido a nuestro sitio web que es un portafolio web administrativo,
          lo conformamos dos integrante, nuestros nombres son Rafael Prieto y Adrian Lazo,
          si bajar podras encontrar información de cada uno.
        </p>
        <button class="btn btn-primary" (click)="scrollToPerfiles()">Get Started</button>
      </div>
    </div>
  </div>

</section>