<section id="home">

  <div class="hero min-h-screen">
    <!-- <div class="hero-overlay"></div> -->
    <div class="hero-content text-neutral-content text-center">
      <div class="max-w-md">
        <h1 class="mb-5 text-4xl font-bold text-center">Dev-Solutions</h1>
        <p class="mb-5 text-2xl text-center">
          Si otros no te pueden ayudar aqui estamos nosotros para solucionar y mejorar, confia en nosotros y nosotros te
          desmostraremos porque somos la mejor opción.
        </p>
        <button class="bg-black hover:bg-gray-700  font-bold py-2 px-4 rounded"
          (click)="scrollToPerfiles()">Browse</button>
      </div>
    </div>
  </div>

</section>